<h2>Search by:</h2>
<hr />
<ul class="list-group">
  <!-- <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="['']"
    class="list-group-item"
  >
    Home Page
  </li>
  <li
    routerLinkActive="active"
    [routerLink]="['/about']"
    class="list-group-item"
  >
    About Page
  </li>
  <li
  routerLinkActive="active"
  [routerLink]="['/contact']"
  class="list-group-item"
>
  Contact Page
</li> -->

<li
routerLinkActive="active"
[routerLink]="['/countries/by-capital']"
class="list-group-item"
>
For Capital
</li>

<li
routerLinkActive="active"
[routerLink]="['/countries/by-country']"
class="list-group-item"
>
For Country
</li>

<li
routerLinkActive="active"
[routerLink]="['/countries/by-region']"
class="list-group-item"
>
For Region
</li>

</ul>
